<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wright State Tabletop Club</title>

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <link rel="stylesheet" href="/plugins/adminlte/css/adminlte.min.css" />
    <script src="/plugins/adminlte/js/adminlte.min.js"></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca/alpaca.js"></script>
    <link rel="stylesheet" href="/plugins/alpaca/alpaca.min.css" />

    <!-- TinyMCE -->
    <script src="/plugins/tinymce/tinymce.min.js"></script>

    <!-- Sails sockets-->
    <script src="/dependencies/sails.io.js" autoConnect="false"></script>
    <script src="/js/socket.js"></script>

    <!-- View Information-->
    <% if (typeof pageView !== 'undefined') { %>
    <script>
      window.pageView = "<%= pageView %>";
    </script>
    <% } %> <% if (typeof pagePassword !== 'undefined') { %>
    <script>
      window.pagePassword = "<%= pagePassword %>";
    </script>
    <% } %> <% if (typeof pageCharacter !== 'undefined') { %>
    <script>
      window.pageCharacter = "<%= pageCharacter %>";
    </script>
    <% } %>
  </head>
  <body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"
              ><i class="fas fa-bars"></i
            ></a>
          </li>
        </ul>
      </nav>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-success elevation-4">
        <!-- Brand Logo -->
        <a href="/" class="brand-link">
          <img
            src=""
            alt="TTC Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8"
          />
          <span class="brand-text font-weight-light">WSU Tabletop Club</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul
              class="nav nav-pills nav-sidebar flex-column"
              data-widget="treeview"
              role="menu"
              data-accordion="false"
            >
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-header">ACTIVE CAMPAIGNS</li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-database"></i>
                  <p>
                    Septem Regiones
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/septem" class="nav-link">
                      <i class="fas fa-info-circle nav-icon"></i>
                      <p>About</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/septem/player" class="nav-link">
                      <i class="fas fa-user nav-icon"></i>
                      <p>Player Panel</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <% if (typeof pagePassword !== 'undefined' && pageView ===
                    'operator') { %>
                    <a
                      href="/septem/operator/<%= pagePassword %>"
                      class="nav-link"
                    >
                      <i class="fas fa-desktop nav-icon"></i>
                      <p>Operator Panel</p>
                    </a>
                    <% } else { %>
                    <a href="/septem/operator" class="nav-link">
                      <i class="fas fa-desktop nav-icon"></i>
                      <p>Operator Panel</p>
                    </a>
                    <% } %>
                  </li>
                  <li class="nav-item">
                    <% if (typeof pagePassword !== 'undefined' && pageView ===
                    'scanner') { %>
                    <a
                      href="/septem/scanner/<%= pagePassword %>"
                      class="nav-link"
                    >
                      <i class="fas fa-search nav-icon"></i>
                      <p>Scanner Panel</p>
                    </a>
                    <% } else { %>
                    <a href="/septem/scanner" class="nav-link">
                      <i class="fas fa-search nav-icon"></i>
                      <p>Scanner Panel</p>
                    </a>
                    <% } %>
                  </li>
                  <li class="nav-item">
                    <% if (typeof pagePassword !== 'undefined' && pageView ===
                    'gm') { %>
                    <a href="/septem/gm/<%= pagePassword %>" class="nav-link">
                      <i class="fas fa-user-tie nav-icon"></i>
                      <p>GM Panel</p>
                    </a>
                    <% } else { %>
                    <a href="/septem/gm" class="nav-link">
                      <i class="fas fa-user-tie nav-icon"></i>
                      <p>GM Panel</p>
                    </a>
                    <% } %>
                  </li>
                </ul>
              </li>
              <li class="nav-header">ACTIVE ONE-SHOTS</li>
              <li class="nav-header">INACTIVE CAMPAIGNS</li>
              <li class="nav-header">INACTIVE ONE-SHOTS</li>
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%- body %>
      </div>
      <!-- /.content-wrapper -->

      <div
        class="modal fade"
        id="modal-edit-value"
        aria-hidden="true"
        style="display: none;"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <footer class="main-footer">
        <strong
          >Copyright &copy; 2021
          <a href="/">Wright State University Tabletop Club</a>.</strong
        >
        All rights reserved.
      </footer>

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
  </body>
</html>
