<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Not Found</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-warning">404</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-warning"></i> Oops! Page not
        found.
      </h3>

      <p>
        We could not find the page you were looking for.
      </p>
    </div>

    <% if (typeof error !== 'undefined') { %>
    <div class="error-details">
      <pre><code><%- error %></code></pre>
    </div>
    <% } %>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
