<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>500 Internal Server Error</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger">500</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-danger"></i> Oops! Something
        went wrong.
      </h3>

      <p>
        Something went wrong on our end. Please contact admin@pdstig.me and
        explain what you were trying to do (and any additional error info below,
        if provided). Thank you!
      </p>
    </div>

    <% if (typeof error !== 'undefined') { %>
    <div class="error-details">
      <pre><code><%- error %></code></pre>
    </div>
    <% } %>
  </div>
  <!-- /.error-page -->
</section>
