<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>About - Septem Regiones</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="card card-primary card-outline p-1 m-3">
    <div class="card-body">
      <p>
        <strong>Septem Regiones</strong> is a homebrew (d20) sci-fi campaign
        started by Patrick Schmalstig in January 2021. It incorporates some core
        mechanics of D&D and adds many homebrew mechanics (such as map-based
        combat with knock-backing, energy points, and code points for the virus
        and supercomputer).
      </p>
      <p>
        <strong>Current Lore</strong> (which will expand as the campaign
        progresses):
      </p>
      <p>
        The story takes place starting in 2026 where quantum technology started
        taking off. Students at Quanta University, a small and new university to
        take advantage of quantum education, find themselves unable to afford
        the technology to complete their school work. Rey Carter, also a
        freshman, guides them to a rumored abandoned medical research facility
        at a nearby Air Force Base. This facility contains one of the most
        powerful quantum supercomputers in the world. But there's a catch: it is
        infected with a fatal computer virus ("Requiem")!
      </p>
      <p>
        The characters must keep Requiem at bay and prevent it from causing
        destruction on Earth. This is done through using virtualization pods
        which virtualize them into fictional universes. In these universes, they
        must complete quests and battles to lower Requiem's power. They will
        also uncover more secrets and answers to the many questions about this
        facility, the supercomputer, the virus, and even each other.
      </p>
      <p>
        Despite the virus, the supercomputer has the potential to transport
        humans into any of the countless fictional universes once only existed
        in their minds. It can also help develop medicine and cures to diseases
        once thought incredibly difficult to treat.
      </p>
      <p>
        The campaign is inspired by Code Lyoko, but it has some differences.
      </p>
    </div>
    <!-- /.card-body -->
  </div>

  <div class="card card-warning m-3">
    <div class="card-header">
      <h3 class="card-title">Player Roster</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-4">Patrick S</dt>
        <dd class="col-sm-8">
          Game Master; also plays the supercomputer and a few NPCs
        </dd>
        <dt class="col-sm-4">Wuesty</dt>
        <dd class="col-sm-8">
          Co Game Master; also plays the Requiem Virus, a few NPCs, and the
          character "Shade".
        </dd>
        <dt class="col-sm-4">Maxwell</dt>
        <dd class="col-sm-8">
          Player: Askari
        </dd>
        <dt class="col-sm-4">Char</dt>
        <dd class="col-sm-8">
          Player: Cali
        </dd>
        <dt class="col-sm-4">Charles</dt>
        <dd class="col-sm-8">
          Player: Calvin / Caulder
        </dd>
        <dt class="col-sm-4">Dennis</dt>
        <dd class="col-sm-8">
          Player: D. W. / The Rant
        </dd>
      </dl>
    </div>
    <!-- /.card-body -->
  </div>
</section>
