<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark septem-edit" data-key="active">
          Character Sheet
        </h1>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content" id="septem-character">
  <div class="callout callout-warning" id="socket-connecting">
    <h5>API status: CONNECTING...</h5>
    Attempting to connect you to the API so you can get live updates when data
    changes...
  </div>
  <div class="callout callout-danger d-none" id="socket-failed">
    <h5><i class="icon fas fa-ban"></i> API status: FAILED!</h5>
    We failed to connect you to the API. You must refresh your page to get
    updates when data changes.
  </div>
  <div class="callout callout-danger d-none" id="socket-disconnected">
    <h5><i class="icon fas fa-ban"></i> API status: NOT CONNECTED!</h5>
    You are currently disconnected from the API. We are trying to reconnect you.
    In the mean time, you will not get live updates when data changes.
  </div>
  <div class="callout callout-success d-none" id="socket-connected">
    <h5><i class="icon fas fa-check"></i> API status: CONNECTED!</h5>
    Changes to data will automatically reflect on this page without having to
    refresh.
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="position-relative card card-widget card-secondary card-outline widget-user"
          id="septem-character-card"
        >
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div
            class="widget-user-header text-white septem-edit"
            style="background: url('/septem/images/default.jpg') center center; background-size:cover; height: 384px;"
            id="septem-character-image"
            data-key="image"
          >
            <div style="background-color: rgba(0, 0, 0, 0.7);">
              <h3
                class="widget-user-username septem-edit"
                id="septem-character-name"
                data-key="name"
              >
                Unknown Character
              </h3>
              <h5
                class="widget-user-desc septem-edit"
                id="septem-character-class"
                data-key="class"
              >
                Unknown Class
              </h5>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 col-md-2 border-right">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-strength"
                    data-key="strength"
                  >
                    ???
                  </h5>
                  <span class="description-text">STR</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-4 col-md-2 border-right">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-dexterity"
                    data-key="dexterity"
                  >
                    ???
                  </h5>
                  <span class="description-text">DEX</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-4 col-md-2 border-right">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-constitution"
                    data-key="constitution"
                  >
                    ???
                  </h5>
                  <span class="description-text">CON</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-4 col-md-2 border-right">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-intelligence"
                    data-key="intelligence"
                  >
                    ???
                  </h5>
                  <span class="description-text">INT</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-4 col-md-2 border-right">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-wisdom"
                    data-key="wisdom"
                  >
                    ???
                  </h5>
                  <span class="description-text">WIS</span>
                </div>
                <!-- /.description-block -->
              </div>
              <div class="col-sm-4 col-md-2">
                <div class="description-block">
                  <h5
                    class="description-header septem-edit"
                    id="septem-character-charisma"
                    data-key="charisma"
                  >
                    ???
                  </h5>
                  <span class="description-text">CHA</span>
                </div>
                <!-- /.description-block -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3
              class="septem-edit"
              id="septem-character-earthHP"
              data-key="earthHP"
            >
              ???
            </h3>

            <p>
              Earth HP
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-heartbeat"></i>
          </div>
          <div class="small-box-footer">
            <div
              class="progress progress-xs m-2 septem-edit"
              data-key="maxHP"
              style="background-color: rgba(0, 0, 0, 0.125);"
            >
              <div
                class="progress-bar bg-light"
                role="progressbar"
                id="septem-character-earthHP-progress"
                style="width: 0%;"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="small-box bg-success">
          <div class="inner">
            <h3
              class="septem-edit"
              id="septem-character-earthEP"
              data-key="earthEP"
            >
              ???
            </h3>

            <p>
              Earth EP
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-bolt"></i>
          </div>
          <div class="small-box-footer">
            <div
              class="progress progress-xs m-2 septem-edit"
              data-key="maxEP"
              style="background-color: rgba(0, 0, 0, 0.125);"
            >
              <div
                class="progress-bar bg-light"
                role="progressbar"
                id="septem-character-earthEP-progress"
                style="width: 0%;"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3
              class="septem-edit"
              id="septem-character-matrixHP"
              data-key="matrixHP"
            >
              ???
            </h3>

            <p>
              Matrix HP
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-heartbeat"></i>
          </div>
          <div class="small-box-footer">
            <div
              class="progress progress-xs m-2 septem-edit"
              data-key="maxHP"
              style="background-color: rgba(0, 0, 0, 0.125);"
            >
              <div
                class="progress-bar bg-light"
                role="progressbar"
                id="septem-character-matrixHP-progress"
                style="width: 0%;"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-12">
        <div class="small-box bg-success">
          <div class="inner">
            <h3
              class="septem-edit"
              id="septem-character-matrixEP"
              data-key="matrixEP"
            >
              ???
            </h3>

            <p>
              Matrix EP
            </p>
          </div>
          <div class="icon">
            <i class="fas fa-bolt"></i>
          </div>
          <div class="small-box-footer">
            <div
              class="progress progress-xs m-2 septem-edit"
              data-key="maxEP"
              style="background-color: rgba(0, 0, 0, 0.125);"
            >
              <div
                class="progress-bar bg-light septem-edit"
                role="progressbar"
                id="septem-character-matrixEP-progress"
                style="width: 0%;"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Other Quick Info</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <strong>Tag</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-tag"
                    data-key="tag"
                  >
                    ???
                  </p>
                </div>
                <div class="col-6">
                  <strong>XP</strong>
                  <p class="text-muted septem-edit" data-key="XP">
                    <span id="septem-character-XP">???</span> (Level
                    <span id="septem-character-level">???</span>)
                  </p>
                </div>
                <div class="col-6">
                  <strong>Inspiration?</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-hasInspiration"
                    data-key="hasInspiration"
                  >
                    ???
                  </p>
                </div>
                <div class="col-6">
                  <strong>Armor Class</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-armor"
                    data-key="armor"
                  >
                    ???
                  </p>
                </div>
                <div class="col-6">
                  <strong>Movement</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-movement"
                    data-key="movement"
                  >
                    ??? m
                  </p>
                </div>
                <div class="col-6">
                  <strong>Money (SRD)</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-SRD"
                    data-key="SRD"
                  >
                    $?.??
                  </p>
                </div>
                <div class="col-6">
                  <strong>Age</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-age"
                    data-key="age"
                  >
                    ???
                  </p>
                </div>
                <div class="col-6">
                  <strong>Gender</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-gender"
                    data-key="gender"
                  >
                    ???
                  </p>
                </div>
                <div class="col-6">
                  <strong>Height</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-height"
                    data-key="height"
                  >
                    ??? cm
                  </p>
                </div>
                <div class="col-6">
                  <strong>Weight</strong>
                  <p
                    class="text-muted septem-edit"
                    id="septem-character-weight"
                    data-key="weight"
                  >
                    ??? kg
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Character Buffs</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body" id="septem-characterbuffs"></div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title">Inventory / Abilities (Click for more info)</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body" id="septem-characteritems">
          </div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-orange">
          <div class="card-header">
            <h3 class="card-title">Strengths / Weaknesses</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong>Strengths</strong>
            <div
              class="card-body septem-edit"
              id="septem-character-strengths"
              data-key="strengths"
            ></div>
            <strong>Weaknesses</strong>
            <div
              class="card-body septem-edit"
              id="septem-character-weaknesses"
              data-key="weaknesses"
            ></div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Appearance</h3>
          </div>
          <!-- /.card-header -->
          <div
            class="card-body septem-edit"
            id="septem-character-appearance"
            data-key="appearance"
          ></div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Personality</h3>
          </div>
          <!-- /.card-header -->
          <div
            class="card-body septem-edit"
            id="septem-character-personality"
            data-key="personality"
          ></div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-indigo">
          <div class="card-header">
            <h3 class="card-title">Biography</h3>
          </div>
          <!-- /.card-header -->
          <div
            class="card-body septem-edit"
            id="septem-character-biography"
            data-key="biography"
          ></div>
          <!-- /.card-body -->
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card card-lime">
          <div class="card-header">
            <h3 class="card-title">GM Notes</h3>
          </div>
          <!-- /.card-header -->
          <div
            class="card-body septem-edit"
            id="septem-character-gmNotes"
            data-key="gmNotes"
          ></div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content -->

<script src="/js/septem/character.js?t=202103131517"></script>
<script src="/js/septem/buffs.js?t=202103131517"></script>
<script src="/js/septem/items.js?t=202103151932"></script>
<script>
  // Web socket
  var firstTime = true;
  var socket = io.sails.connect();
  socket.on("connect", () => {
    clearTimeout(connectTimer);
    $("#socket-disconnected").addClass("d-none");
    $("#socket-connecting").addClass("d-none");
    $("#socket-failed").addClass("d-none");
    $("#socket-connected").removeClass("d-none");
    getCharacter();
  });
  socket.on("disconnect", () => {
    $("#socket-disconnected").removeClass("d-none");
    $("#socket-connected").addClass("d-none");
  });
  socket.on("septem-character-refresh", data => {
    if (!data || data === "all" || data === parseInt(window.pageCharacter))
      getCharacter();
  });

  // Character manager
  var Character = new SeptemCharacter(socket);
  var Buffs = new SeptemCharacterBuffs(`#septem-characterbuffs`, ``, socket);
  var Items = new SeptemCharacterItems(
    `#septem-characteritems`,
    `#modal-edit-value`,
    socket
  );
  var characterTimer;

  // Set a 5-second timer. If socket is not connected by then, show a failed message and at least try to get data via AJAX.
  var connectTimer = setTimeout(() => {
    $("#socket-connecting").addClass("d-none");
    $("#socket-failed").removeClass("d-none");
    $.ajax("/septem/get/character", {
      data: {
        view: window.pageView,
        password: window.pagePassword,
        id: window.pageCharacter
      }
    }).done(data => {
      Character.update(data, false);
      Buffs.process(data.buffs);
      Items.process(data.items);
    });
  }, 5000);

  // Character data query
  function getCharacter() {
    console.log("getCharacter called");
    clearTimeout(characterTimer);
    characterTimer = setTimeout(() => {
      socket.get(
        "/septem/get/character",
        {
          view: window.pageView,
          password: window.pagePassword,
          id: window.pageCharacter
        },
        resData => {
          Character.update(resData, !firstTime);
          Buffs.process(resData.buffs);
          Items.process(resData.items);
          firstTime = false;
        }
      );
    }, 1000);
  }
</script>
