<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>GM Panel</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<section class="content">
  <div class="callout callout-warning" id="socket-connecting">
    <h5>API status: CONNECTING...</h5>
    Attempting to connect you to the API so you can get live updates when data
    changes...
  </div>
  <div class="callout callout-danger d-none" id="socket-failed">
    <h5><i class="icon fas fa-ban"></i> API status: FAILED!</h5>
    We failed to connect you to the API. You must refresh your page to get
    updates when data changes.
  </div>
  <div class="callout callout-danger d-none" id="socket-disconnected">
    <h5><i class="icon fas fa-ban"></i> API status: NOT CONNECTED!</h5>
    You are currently disconnected from the API. We are trying to reconnect you.
    In the mean time, you will not get live updates when data changes.
  </div>
  <div class="callout callout-success d-none" id="socket-connected">
    <h5><i class="icon fas fa-check"></i> API status: CONNECTED!</h5>
    Changes to data will automatically reflect on this page without having to
    refresh.
  </div>

  <h2>Current Campaign Time</h2>
  <p id="septem-global-time" class="text-primary h3">???</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(12)"
        >
          +12 seconds
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60)"
        >
          +1 minute
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 5)"
        >
          +5 minutes
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 15)"
        >
          +15 minutes
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60)"
        >
          +1 hour
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 4)"
        >
          +4 hours
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 12)"
        >
          +12 hours
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 24)"
        >
          +1 day
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 24 * 3)"
        >
          +3 days
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 24 * 7)"
        >
          +7 days
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-block btn-primary"
          onclick="addTime(60 * 60 * 24 * 30)"
        >
          +30 days
        </button>
      </div>
    </div>
  </div>

  <h2>Public Characters</h2>
  <div class="container-fluid">
    <div class="row" id="septem-pc"></div>
  </div>

  <h2>Private Characters</h2>
  <div class="container-fluid">
    <div class="row" id="septem-npc"></div>
  </div>

  <h2>CP and SP</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"
            ><img src="/images/septem/CCUs/red.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Requiem CP</span>
            <span class="info-box-number" id="septem-global-requiemCP"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"
            ><img src="/images/septem/CCUs/green.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Computa CP</span>
            <span class="info-box-number" id="septem-global-computaCP"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-maroon"
            ><img src="/images/septem/CCUs/red.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Requiem SP</span>
            <span class="info-box-number" id="septem-global-requiemSP"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    </div>
  </div>

  <h2>CCU Scan</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-danger"
            ><img src="/images/septem/CCUs/red.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Requiem</span>
            <span class="info-box-number" id="septem-global-redCCUs">???</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-orange"
            ><img src="/images/septem/CCUs/orange.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Maintenance</span>
            <span class="info-box-number" id="septem-global-orangeCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-warning"
            ><img src="/images/septem/CCUs/yellow.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Upgrade</span>
            <span class="info-box-number" id="septem-global-yellowCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-success"
            ><img src="/images/septem/CCUs/green.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Supercomputer</span>
            <span class="info-box-number" id="septem-global-greenCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-info"
            ><img src="/images/septem/CCUs/blue.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Inactive</span>
            <span class="info-box-number" id="septem-global-blueCCUs">???</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-primary"
            ><img src="/images/septem/CCUs/indigo.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Communication</span>
            <span class="info-box-number" id="septem-global-indigoCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-purple"
            ><img src="/images/septem/CCUs/violet.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">Info/Code</span>
            <span class="info-box-number" id="septem-global-violetCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
        <div class="info-box">
          <span class="info-box-icon bg-light"
            ><img src="/images/septem/CCUs/white.png" style="width: 64px;"
          /></span>

          <div class="info-box-content">
            <span class="info-box-text">SUDO</span>
            <span class="info-box-number" id="septem-global-whiteCCUs"
              >???</span
            >
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
    </div>
  </div>

  <p>
    <button
      type="button"
      class="btn btn-primary btn-block"
      onclick="requestUpdate()"
    >
      Refresh All Browsers
    </button>
  </p>
</section>

<script src="/js/septem/characters.js?t=202103131540"></script>
<script>
  // Web socket
  var socket = io.sails.connect();
  socket.on("connect", () => {
    clearTimeout(connectTimer);
    $("#socket-disconnected").addClass("d-none");
    $("#socket-connecting").addClass("d-none");
    $("#socket-failed").addClass("d-none");
    $("#socket-connected").removeClass("d-none");
    getCharacters();
    getGlobals();
  });
  socket.on("disconnect", () => {
    $("#socket-disconnected").removeClass("d-none");
    $("#socket-connected").addClass("d-none");
  });
  socket.on("septem-character-refresh", data => {
    getCharacters();
  });
  socket.on("septem-globals-refresh", data => {
    getGlobals();
  });

  // Character manager
  var Characters = new SeptemOverviewCharacters(
    "#septem-pc",
    "#septem-npc",
    socket
  );
  var charactersTimer;
  var globalsTimer;

  // Set a 5-second timer. If socket is not connected by then, show a failed message and at least try to get data via AJAX.
  var connectTimer = setTimeout(() => {
    $("#socket-connecting").addClass("d-none");
    $("#socket-failed").removeClass("d-none");
    $.ajax("/septem/get/characters", {
      data: { view: "gm", password: window.pagePassword }
    }).done(data => {
      Characters.process(data);
    });
    $.ajax("/septem/get/globals", {
      data: { view: "gm", password: window.pagePassword }
    }).done(data => {
      processGlobals(data);
    });
  }, 5000);

  // Character data query
  function getCharacters() {
    clearTimeout(charactersTimer);
    charactersTimer = setTimeout(() => {
      socket.get(
        "/septem/get/characters",
        { view: "gm", password: window.pagePassword },
        resData => {
          Characters.process(resData);
        }
      );
    }, 1000);
  }

  // Globals data query
  function getGlobals() {
    clearTimeout(globalsTimer);
    globalsTimer = setTimeout(() => {
      socket.get(
        "/septem/get/globals",
        { view: "gm", password: window.pagePassword },
        resData => {
          processGlobals(resData);
        }
      );
    }, 1000);
  }

  // Process data returned from globals
  function processGlobals(data) {
    for (let key in data) {
      $(`#septem-global-${key}`).html(data[key]);
    }
  }

  // Called by clicking a button on the panel; sends a websocket event to everyone to trigger a data refresh.
  function requestUpdate() {
    socket.get(
      "/septem/get/request-refresh",
      { view: "gm", password: window.pagePassword },
      resData => {}
    );
  }

  // Called by add time buttons to add campaign time
  function addTime(time) {
    this.socket.get(
      `/septem/set/time`,
      {
        time: time,
        token: window.pagePassword
      },
      data => {
        if (!data || !data.info) {
          $(document).Toasts("create", {
            class: "bg-danger",
            title: `FAILED`,
            body: `${data.error || "Unknown / Internal Error"}`,
            autohide: true,
            delay: 20000
          });
        } else {
          $(document).Toasts("create", {
            class: "bg-info",
            title: `Time Changed`,
            body: `<ul>${data.info
              .map(item => `<li>${item}</li>`)
              .join("")}</ul>`,
            autohide: true,
            delay: 60000
          });
        }
      }
    );
  }
</script>
