<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Access Denied</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-danger">403</h2>

    <div class="error-content">
      <h3>
        <i class="fas fa-exclamation-triangle text-danger"></i> That page is
        restricted!
      </h3>

      <p>
        The operator, scanner, and GM panels for Septem Regiones must be
        accessed by a special link (which can change throughout the campaign).
        Please contact the Campaign Master.
      </p>
    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
